.nombre-y-foto,
.Estudios-realizados,
.Experiencia-laboral,
.capacitacion,
.referencias{
    padding: 100px
}
.nombre-y-foto,
.Estudios-realizados,
.Experiencia-laboral,
.capacitacion,
.referencias{
    font-family: Arial;
    font-size: 100%;
}

body{
    margin: 0px;
}
.nombre-y-foto{
    color: black;
    background-color: #a7a7a7;

}

.Estudios-realizados{
    background-color: #bdbdbd;
}

.Experiencia-laboral{
    background-color: #c9c9c9;
}
.capacitacion{
    background-color: #d3d3d3;
}
.referencias{
    background-color: #dcdcdc;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0%;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0%;
}
.container,
.nombre-y-foto{
    grid-row: span 2;
}

.Estudios-realizados{
    grid-column: span 2;
}

.Experiencia-laboral{
    grid-column: span 2;
}

.capacitacion{
    grid-column: span 2;
}
  